@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500;700&display=swap');

/* VARIABLES */
:root {
  --violeta-oscuro: #331462;
  --violeta-claro: #4315B7;
  --violeta-extra-claro: #AA90EC;
  --amarillo: #F9C824;
  --cyan: #00C5F9;
  --fucsia: #F701D8;

  --font-claro: white;
  --font-oscuro: #331462;

  --font-base: 'Pixelify Sans', monospace;
}

*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  color: inherit;
  text-decoration: none;
}
a:hover{
  color: var(--amarillo);
}

body{
  font-family: var(--font-base);
  /* font-size: 62.5%; */
  color: var(--font-claro);
  background: rgb(51, 20, 98);
  background: linear-gradient(90deg, rgba(51, 20, 98, 1) 0%, rgba(100, 74, 219, 1) 63%, rgba(67, 21, 183, 1) 100%);
}

.imgMemes{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 250px auto auto 250px;
  grid-template-areas: "nav nav nav nav"
                        "meme meme text text"
                        "galeria galeria galeria galeria"
                        "footer footer footer footer";
  /* max-width: 100%; */
  min-height: 100vh;
}

nav{
  margin: 2rem;
  grid-area: nav;
}

.meme-container{
  grid-area: meme;
  background-color: var(--violeta-extra-claro);
  height: auto;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.meme-container figure{
  width: 600px;
}

.texto-meme {
  word-wrap: break-word;
  text-align: left;
  position: absolute;
}

.texto.container{
  grid-area: text;
  background-color: var(--violeta-extra-claro);
  width: 50%;
  padding: 1rem;
}

.elegir-imagen-container{
  grid-area: galeria;
  background-color: var(--violeta-extra-claro);
}

.galeria-container {
  display: flex;
  flex-direction: row;
  height: 300px;
  align-items: flex-start;
  overflow-x: scroll;
}

.contenedor-img {
  height: 100%;
  width: 100%;
}

.img {
  height: 100%;
}

.footer{
  grid-area: footer;
}

/* .container{
  min-width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.meme-container{
  background-color: var(--violeta-extra-claro);
  width: 50%;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.texto-meme {
    word-wrap: break-word;
    text-align: left;
    position: absolute;
}

.editor-container {
  background-color: var(--violeta-extra-claro);
  width: 50%;
  margin: 1rem;
  padding: 1rem;
}



.texto-container{
  margin-top: 2rem;
}

.editor-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.color{
  margin: .5rem;
  border: none;
}

#btn-colorcito{
  background-color: var(--amarillo);
  border: none;
}

#btn-descargar{
  background-color: var(--fucsia);
  border: none;
  margin: 2rem;
  padding: 1rem 4rem 1rem 4rem;
  font-size: 2rem;
}

#btn-descargar:hover, #btn-colorcito:hover {
  transform: scale(0.98);
}

@media screen and (max-width: 768px) {
  nav{
    margin: auto
  }
  .container{
    flex-direction: column;
  }
  .meme-container, .editor-container{
    width: 100%;
    margin: auto;
  }
  .editor-container{
    display: flex;
    flex-direction: column;
  }
  .texto-container{
    order:1;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .elegir-imagen-container{
    order:3;
  } 
  #btn-descargar {
    margin: 1rem;
    width: 80%;
    padding: 1rem;
    font-size: 2rem;
  }
  .galeria-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    height: auto;
    width: 100%;
    overflow-y: scroll;
  }

  .contenedor-img {
    height: 100px;
    width: 100px;
  }
} */