@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500;700&display=swap');

/* VARIABLES */
:root {
  --violeta-oscuro: #331462;
  --violeta-claro: #4315B7;
  --violeta-extra-claro: #AA90EC;
  --amarillo: #F9C824;
  --cyan: #00C5F9;
  --fucsia: #F701D8;

  --font-claro: white;
  --font-oscuro: #331462;

  --font-base: 'Pixelify Sans', monospace;
}

*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: solid 1px red;
}

a{
  color: inherit;
  text-decoration: none;
}
a:hover{
  color: var(--amarillo);
}

body{
  font-family: var(--font-base);
  /* font-size: 62.5%; */
  color: var(--font-claro);
  background-color: var(--violeta-oscuro);
  /* background: linear-gradient(90deg, rgba(51, 20, 98, 1) 0%, rgba(100, 74, 219, 1) 63%, rgba(67, 21, 183, 1) 100%); */
}

.imgMemes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1.5fr 0.5fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "navbar navbar navbar navbar navbar navbar"
    "meme-nuevo meme-nuevo meme-nuevo text-editor text-editor text-editor"
    "meme-gallery meme-gallery meme-gallery meme-gallery meme-gallery meme-gallery"
    "footer footer footer footer footer footer";
  width: 100%;
  /* min-height: 100vh; */
}

.navbar {
  grid-area: navbar;
  background-color: var(--violeta-extra-claro);
  margin: 1.5rem;
  padding: 1rem;
  border: solid 2px black;
  border-radius: 23px;
  box-shadow: 10px 10px 0px 0px rgba(67, 21, 183, 1);
  -webkit-box-shadow: 10px 10px 0px 0px rgba(67, 21, 183, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(67, 21, 183, 1);
}

.meme-nuevo {
  grid-area: meme-nuevo;
  background-color: var(--violeta-extra-claro);
  margin: 1.5rem;
  padding: 1rem;
  border: solid 2px black;
  border-radius: 23px;
  box-shadow: 10px 10px 0px 0px rgba(67, 21, 183, 1);
  -webkit-box-shadow: 10px 10px 0px 0px rgba(67, 21, 183, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(67, 21, 183, 1);
  }

.text-editor {
  grid-area: text-editor;
  background-color: var(--violeta-extra-claro);
  margin: 1.5rem;
  padding: 1rem;
  border: solid 2px black;
  border-radius: 23px;
  box-shadow: 10px 10px 0px 0px rgba(67, 21, 183, 1);
  -webkit-box-shadow: 10px 10px 0px 0px rgba(67, 21, 183, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(67, 21, 183, 1);
  }

.meme-gallery {
  grid-area: meme-gallery;
  background-color: var(--violeta-extra-claro);
  margin: 1.5rem;
  padding: 1rem;
  border: solid 2px black;
  border-radius: 23px;
  box-shadow: 10px 10px 0px 0px rgba(67, 21, 183, 1);
  -webkit-box-shadow: 10px 10px 0px 0px rgba(67, 21, 183, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(67, 21, 183, 1);
}

footer {
  grid-area: footer;
  background-color: var(--violeta-extra-claro);
  margin: 1.5rem;
  padding: 1rem;
  border: solid 2px black;
  border-radius: 23px;
  box-shadow: 10px 10px 0px 0px rgba(67, 21, 183, 1);
  -webkit-box-shadow: 10px 10px 0px 0px rgba(67, 21, 183, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(67, 21, 183, 1);
}

.footerp{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}



/* .meme-container{
  grid-area: meme;
  background-color: var(--violeta-extra-claro);
  height: auto;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.meme-container figure{
  width: 600px;
}

.texto-meme {
  word-wrap: break-word;
  text-align: left;
  position: absolute;
}

.texto.container{
  grid-area: text;
  background-color: var(--violeta-extra-claro);
  width: 50%;
  padding: 1rem;
}

.elegir-imagen-container{
  grid-area: galeria;
  background-color: var(--violeta-extra-claro);
}

.galeria-container {
  display: flex;
  flex-direction: row;
  height: 300px;
  align-items: flex-start;
  overflow-x: scroll;
}

.contenedor-img {
  height: 100%;
  width: 100%;
}

.img {
  height: 100%;
}

 */

/* .container{
  min-width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.meme-container{
  background-color: var(--violeta-extra-claro);
  width: 50%;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.texto-meme {
    word-wrap: break-word;
    text-align: left;
    position: absolute;
}

.editor-container {
  background-color: var(--violeta-extra-claro);
  width: 50%;
  margin: 1rem;
  padding: 1rem;
}



.texto-container{
  margin-top: 2rem;
}

.editor-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.color{
  margin: .5rem;
  border: none;
}

#btn-colorcito{
  background-color: var(--amarillo);
  border: none;
}

#btn-descargar{
  background-color: var(--fucsia);
  border: none;
  margin: 2rem;
  padding: 1rem 4rem 1rem 4rem;
  font-size: 2rem;
}

#btn-descargar:hover, #btn-colorcito:hover {
  transform: scale(0.98);
}

@media screen and (max-width: 768px) {
  nav{
    margin: auto
  }
  .container{
    flex-direction: column;
  }
  .meme-container, .editor-container{
    width: 100%;
    margin: auto;
  }
  .editor-container{
    display: flex;
    flex-direction: column;
  }
  .texto-container{
    order:1;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .elegir-imagen-container{
    order:3;
  } 
  #btn-descargar {
    margin: 1rem;
    width: 80%;
    padding: 1rem;
    font-size: 2rem;
  }
  .galeria-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    height: auto;
    width: 100%;
    overflow-y: scroll;
  }

  .contenedor-img {
    height: 100px;
    width: 100px;
  }
} */